<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../vendor/autoload.php" colors = "true" >   
    
    <testsuites>

        <testsuite name="SendSMS">
            <directory>/Scripts/SendSMS/</directory>
        </testsuite>
		
        <testsuite name="AnalyseSms">
            <directory>/Scripts/SendSMSAnalyseTest/</directory>
        </testsuite>

    </testsuites>

</phpunit>
